<!-- Mainpage -->
<div id="mainPage">

  <!-- Navigation Bar -->
  <div class="navigation">
      <a href="#Dashboard">Dashboard</a>
      <a href="#b">b</a>
      <a href="#c">c</a>
  </div>

  <!-- Maintext -->
  <div id="mainText">
    <h1>
      Dieses Dashboard stellt den aktuellen Bitcoin Kurs da!
    </h1>
      <!-- Modulares erstellen von "Dashboards" -->
      <div *ngFor="let data of bitcoinData">
       <app-dashboard [bitcoinData]="data"></app-dashboard>
      </div>
      <!-- Reloadbutton -->
      <button (click)="reloadButton()">Neu laden!</button>
  </div>
</div>